.navbar {
    background-color: white;
    margin-bottom: 0px;
    height: 7rem;
    border-top: 9px solid;
    border-top-color: #2A80BC;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

.navbar-toggle .icon-bar {
    height: 3px;
}

.navbar-collapse {
    background-color: white;
}

.navbar-toggle {
    border: 0px;
    position: absolute;
    right: 5px;
    top: 7px;
    background-color: white;
}

.navbar-default .navbar-toggle:hover {
    background-color: white;
}

#navbarLogo {
    height: 50px;
    width: 52%;
    padding-top: 15px;
    padding-left: 12px;
}
.container-fluid {
    background-color: white;
}

.jumbotron {
    padding: 0px;
}

#jumboImg {
    height: 7rem;
    width: 100%
}

h1 {
    margin: 2px 5px 2px 2rem;
    padding-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

article {
    margin: 2px 5px 2px 20px;
    line-height: 2;
    font-family: Georgia, 'Times New Roman', Times, serif; 
}
#articleLink {
font-family: Georgia, 'Times New Roman', Times, serif;
text-decoration: underline;
}

h2 {
    margin: 3rem 5px 3rem 2rem;
    color: #3d83c0;
    font-size: 174%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    

}

#linkList {
    margin-left: -2rem;
    margin-top: 5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: 	#F1F1F1;
    letter-spacing: .4px;
    
}

li {
    list-style-type: none;
}

hr {
    border-top: 1px solid #DDDDDD;
    width: 95%;
    margin-left: 0px;
}
.card {
    width: 90%;
    display: block;
    margin: 20px auto;
}

.cardImages {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.card-body {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.card-text {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    line-height: 65px;
    color: white;
    height: 65px;
    letter-spacing: .4px;
    font-size: 113%;
}
footer {
    background-color: 	#343530;
    margin-top: 54px;

}

#footerImg {
    width: 45%;
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    /* padding-bottom: 20px; */
}

.footerTxt {
    color: white;
    text-align: center;
    font-size: 99%;
}
#emailLink {
    text-decoration: underline;
    color: white;
}

#footerBtn {
    background-color: #7EBB5C;
    color: white;
    display: block; 
    margin: 0 auto;
    border: 0px;
    height: 60px;
    width: 69%;
    font-size: 120%;
    letter-spacing: 2px;
}

#infoDiv {
    padding-bottom: 10px;
}

#buttonDiv {
    padding-bottom: 29px;
    padding-top: 12px;
}

#footerDiv {
    background-color: black;
    color: white;
    height: 48px;
    line-height: 48px;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    font-style: italic;

}

a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

@media only screen and (min-width: 768px) {
    .container-fluid {
        padding-right: 0px;
        padding-left: 0;
        margin-right: auto;
        margin-left: auto;
    }

    a {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
    }

    #navbarLogo {
        padding-left: 0;
        height: 62px;
        width: 39%;
    
    }

    .nav>li {
        position: relative;
        display: block;
        margin-left: 45px;
    }
    .navbar-nav {
        float: left;
        margin: 0;
        font-size: 100%;
    }
    .navbar-default .navbar-nav>li>a {
        color: #777;
        font-weight: bold;
        letter-spacing: 1.3px;
    }

    .navbar-nav>li>.dropdown-menu {
        background-color: #4e5153;
        opacity: .9
        
    }
    
    .dropdown-menu>li>a {
        color: white;   
    }

    #jumboImg {      
        content:url("./images/jumboTablet.png");
        height: 200px;
        width: 100%;
      } 
    #articleDiv {
        float: right;
        width: 70%;
        padding-top: 12px;
        padding-bottom: 40px;
        }
    article {
        line-height: 1.5
    }
    h2 {
        margin: 2rem 5px 2rem 2rem;
        color: #3d83c0;
    }
    #linkList {
        width: 30%;
        margin-left: -15px;
        margin-top: 0;
        padding-top: 41px;
        padding-bottom: 0;
        background-color: white;
    }
    hr {
        margin-top: 10.5px;
        margin-bottom: 10px;
    }

    #contentDiv {
        overflow: auto;
    }
   
    .card {
      display: inline-block;
      width: 32.9%;
    }
    .cardImages {
        width: 221px;
        
    }
    .card-body {
        width: 221px;
    }
    .card-text {
        width: 188px;
        height: 62px;
        font-size: 116%;
        line-height: 1.2;
        padding-top: 12px;
        font-weight: bold;
    }

    #footerImg {
        width: 181px;
        display: block;
        margin: 0 auto;
        padding-top: 0px;
        padding-bottom: 0px;
        float: left;
        margin-left: 123px;
        margin-top: -11px;
    }

    #footerContent {
        padding-top: 25px;
        margin-top: 10px;
    }

    .footerTxt {
        font-size: 115%;
        float: left;
        clear: left;
    }

    #footerBtn {
        height: 53px;
        width: 245px;
        font-size: 102%;
    }

    #infoDiv {
        display: inline-block;
        width: 50%;
        margin-left: 16px;
        line-height: 18px;
        margin-top: 11px;
    }
}

@media only screen and (min-width: 1170px) {

    .container-fluid {
        max-width: 100%;
    }
    .navbar {
        height: 100px;
    }
    .navbar-nav {
        float: right;
        position: relative;
        top: 23px;
    }
    
    #navbarLogo {
        position: absolute;
        width: 178px;
        left: 100px;
        top: 10px;
    }
    
    .dropdown-menu>li>a {
        color: white;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 97%;
        padding: 7px 8px;
    }
    .dropdown-menu {
        opacity: .9;
        background-color: #4e5153;
        padding-bottom: 20px;
        position: absolute;
        top: 66px;
       
    }

    .dropdown-menu:hover {
        opacity: .9;
        background-color: #4e5153;
        padding-bottom: 20px;
        position: absolute;
        top: 66px;
        
    }

    /* .navbar-nav>li>.dropdown-menu:hover, .navbar-nav>li>.dropdown-menu:focus {
        opacity: .9;
        background-color: #4e5153;
        padding-bottom: 20px;
        position: absolute;
        top: 66px;
    } */
    .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
        background-color: white;
    }

    .navbar-default .navbar-nav>li>a:hover {
        color: #82B864
    }
  
    .nav>li>a:hover {
       color: #82B864;
       padding-bottom: 28px;
       border-bottom: 6px #82B864 solid; 
       
    }
    .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
        background-color: #eee;
        border-color: #82B864;
    }
    .navbar-nav>li>.dropdown-menu {
        margin-left: 8px;
        padding-right: 24px;
        
    }
   
    #jumboImg {
        height: 275px;
    }

    #linkList {
        margin-left: 80px;
        padding-top: 29px;
    }

    hr {
        width: 196px;
        margin-top: 8.5px;
        margin-bottom: 10px;
        margin-right: 114px;
    }
    a {
        font-family: 'Montserrat', sans-serif;
        font-weight: normal;
        font-size: 90%;
        margin-left: 10px;
    }
    #contentDiv {
        overflow: auto;
        padding-right: 100px;
    }
    h2 {
        margin: 4rem 5px 2rem 2rem;
    }

    .cardImages {
        width: 300px;
        height: 257px;
    }

    .card-body {
        width: 300px;
        position: relative;
        top: -82px;
        opacity: .9
    }

    .card-text {
        line-height: 64px;
        width: 100%;
        padding: 0px;
    }

    #cardDiv {
        width: 1000px;
        margin: 0 auto;
        height: 315px;
    }

    footer {
        height: 157px;
        width: 100%
    }

    
    #infoDiv {
        margin-top: 22px;
        margin-left: 20px;
        width: 30%;
    }

    #footerContent {
        margin-top: 25px;
    }

    #footerImg {
        height: 83px;
        width: 238px;
        margin-top: -2px;
        margin-left: 88px;
    }

    .footerTxt {
        float: left;
    }

    #footerBtn {
        position: relative;
        bottom: 88px;
        left: 405px;
    }

    #footerDiv {
        margin-top: -57px;
    }

    
}