.navbar {
    background-color: white;
    margin-bottom: 0px;
    height: 7rem;
    border-top: 5px solid blue;
    border-top-color: #2A80BC;
}

.navbar-collapse {
    background-color: white;
}

.navbar-toggle {
    border: 0px;
    position: absolute;
    right: 5px;
    top: 7px;
    background-color: white;
}

.navbar-default .navbar-toggle:hover {
    background-color: white;
}
#navbarLogo {
    height: 50px;
    width: 52%;
    padding-top: 15px;
    padding-left: 12px;
}
.container-fluid {
    background-color: white;
}

.jumbotron {
    padding: 0px;
}

#jumboImg {
    height: 7rem;
    width: 100%
}

h1 {
    margin: 2px 5px 2px 2rem;
    padding-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

article {
    margin: 2px 5px 2px 2rem;
    line-height: 2;
    font-family: Georgia, 'Times New Roman', Times, serif; 
}

h2 {
    margin: 3rem 5px 3rem 2rem;
    color: #4585A9;
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    

}

#linkList {
    margin-left: -2rem;
    margin-top: 5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: 	#F1F1F1;
    
}

hr {
    border-top: 1px solid #DDDDDD
}
.card {
    width: 90%;
    display: block;
    margin: 20px auto;
}

.cardImages {
    width: 335px;
    display: block;
    margin: 0 auto;
}

.card-body {
    width: 335px;
    display: block;
    margin: 0 auto;
}

.card-text {
    width: 335px;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    line-height: 65px;
    color: white;
    height: 65px;
    font-size: 22px;
}
footer {
    background-color: 	#343530;
    margin-top: 54px;

}

#footerImg {
    width: 45%;
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footerTxt {
    color: white;
    text-align: center;
    font-size: 11px;
}

#footerBtn {
    background-color: #7EBB5C;
    color: white;
    display: block; 
    margin: 0 auto;
    border: 0px;
    height: 46px;
    width: 82%;
    font-size: 18px;
    letter-spacing: 2px;
}

#buttonDiv {
    padding-bottom: 25px;
    padding-top: 12px;
}

#footerDiv {
    background-color: black;
    color: white;
    height: 48px;
    line-height: 48px;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    font-style: italic;

}

a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

@media only screen and (min-width: 768px) {
    .container-fluid {
        padding-right: 0px;
        padding-left: 0;
        margin-right: auto;
        margin-left: auto;
    }

    a {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
    }

    #navbarLogo {
        padding-left: 0;
    }
    #jumboImg {      
        content:url("./images/jumboTablet.png");
        height: 168px;
        width: 100%;
      } 
    #articleDiv {
        float: right;
        width: 70%;
        padding-top: 12px;
        padding-bottom: 40px;
        }
    article {
        line-height: 1.5
    }
    h2 {
        margin: 2rem 5px 2rem 2rem;
        color: #447DA5;
    }
    #linkList {
        width: 30%;
        margin-left: -15px;
        margin-top: 0;
        padding-top: 41px;
        padding-bottom: 0;
        background-color: white;
    }
    hr {
        margin-top: 10.5px;
        margin-bottom: 10px;
    }

    #contentDiv {
        overflow: auto;
    }
    #cardDiv{
    
    }
    .card {
      display: inline-block;
      width: 32.9%;
    }
    .cardImages {
        width: 221px;
        
    }
    .card-body {
        width: 221px;
    }
    .card-text {
        width: 210px;
        height: 62px;
    }

    #footerImg {
        width: 181px;
        display: block;
        margin: 0 auto;
        padding-top: 0px;
        padding-bottom: 0px;
        float: left;
        margin-left: 123px;
        margin-top: -11px;
    }

    #footerContent {
        padding-top: 25px;
        margin-top: 10px;
    }

    .footerTxt {
        float: left;
        font-size: 17px;
    }

    #footerBtn {
        height: 53px;
        width: 245px;
    }

    #infoDiv {
        display: inline-block;
        width: 50%;
        margin-left: 16px;
        line-height: 18px;
        margin-top: 11px;
    }
}